.containerMenu{
    position:fixed;
    background-color: rgba(238, 231, 231, 0.345);
    margin-bottom: 20px;
.contentOptionMenu {
    display: flex; 
    justify-content: flex-end;
    gap: 0.5rem;
}
.labelMenu {
    color:rgb(32,32,32);
    font-weight: bold;
}
.labelMenu:hover {
color: #e26811;
cursor: pointer;
}
}